
@{
    ViewData["Title"] = "ContactUs";
}

<div class="card-container">
    <div class="card">
        <img src="/assets/img/CS.png" class="card-icon">
        <h2>Talk to a member of our Sales team</h2>
        <p>We'll help you find the right products and pricing for your business.</p>
        <button class="button">Call us now!</button>
    </div>

    <div class="card">
        <img src="/assets/img/robot_CS.png" class="card-icon">
        <h2>Product and account support</h2>
        <p>
            Our help center is fresh and always open for business. If you can't find the answer you're looking for,
            we're here to lend a hand.
        </p>
        <button class="button">Get Support</button>
    </div>
</div>

