
@{
    ViewData["Title"] = "GetMenu";

}

<section class="section-meals" id="meals">
    <table class="table--3-cols">
        <h1 class="meal-type center-text">Breakfast</h1>
        <tr>
            <td class="meal">
                <img src="/assets/img/meals/Turkey_sandwich.jpg" class="meal-img" />
                <div class="meal-content">
                    <p class="meal-title">Turkey Sandwich 150£</p>
                    <ul class="meal-attributes">
                        <li class="meal-attribute">
                            <span>Fresh Turkey</span>
                        </li>
                        <li class="meal-attribute">
                            <span>French Fries</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Cheddar Cheese</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Salad</span>
                        </li>
                    </ul>
                </div>
            </td>
            <td class="meal">
                <img src="/assets/img/meals/fol.png" class="meal-img" />
                <div class="meal-content">
                    <p class="meal-title">Egyptian foul 20£</p>
                    <ul class="meal-attributes">
                        <li class="meal-attribute">
                            <span>beans</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Tahini</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Onion</span>
                        </li>
                        <li class="meal-attribute">
                            <span><br></span>
                        </li>
                    </ul>
                </div>
            </td>
            <td class="meal">
                <img src="/assets/img/meals/ta3meya.jpg" class="meal-img" />
                <div class="meal-content">
                    <p class="meal-title">Ta'ameya 20£</p>
                    <ul class="meal-attributes">
                        <li class="meal-attribute">
                            <span>Dreied beans</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Tomato</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Garger</span>
                        </li>
                        <li class="meal-attribute">
                            <span><br></span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h1 class="meal-type center-text">Lunch</h1>
            </td>
        </tr>
        <tr>
            <td class="meal">
                <img src="/assets/img/meals/Mahshi.jpg" class="meal-img" />
                <div class="meal-content">
                    <p class="meal-title">Mahshi 100£</p>
                    <ul class="meal-attributes">
                        <li class="meal-attribute">
                            <span>Rice</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Tomato sauce</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Vegetables</span>
                        </li>
                        <li class="meal-attribute">
                            <span><br></span>
                        </li>
                    </ul>
                </div>
            </td>
            <td class="meal">
                <img src="/assets/img/meals/molokhia-jews-mallow.jpg" class="meal-img" />
                <div class="meal-content">
                    <p class="meal-title">Moloukhia 70£</p>
                    <ul class="meal-attributes">
                        <li class="meal-attribute">
                            <span>Moulokhia leaves</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Tashah(Garlic & Parsely)</span>
                        </li>
                        <li class="meal-attribute">
                            <span><br></span>
                        </li>
                        <li class="meal-attribute">
                            <span><br></span>
                        </li>
                    </ul>
                </div>
            </td>
            <td class="meal">
                <img src="/assets/img/meals/kebda-eskandarani.jpg" class="meal-img" />
                <div class="meal-content">
                    <p class="meal-title">Kebda Eskandarani 110£</p>
                    <ul class="meal-attributes">
                        <li class="meal-attribute">
                            <span>Cow's Liver</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Garlic</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Spicy Pepper</span>
                        </li>
                        <li class="meal-attribute">
                            <span><br></span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <h1 class="meal-type center-text">Dessert</h1>
            </td>
        <tr>
            <td class="meal">
                <img src="/assets/img/ceo2.png" class="meal-img" />
                <div class="meal-content">
                    <p class="meal-title">Special dessert alert!</p>
                    <ul class="meal-attributes">
                        <li class="meal-attribute">
                            <span></span>
                        </li>
                    </ul>
                </div>
            </td>
            <td class="meal" colspan="2">
                <img src="/assets/img/meals/best_wishes2.jpg" class="meal-img" />
                <div class="meal-content">
                    <p class="meal-title">Best Wishes</p>
                    <ul class="meal-attributes">
                        <li class="meal-attribute">
                            <span>Love Essence</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Whimsical Whipped Dreams</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Sweetheart Sprinkles</span>
                        </li>
                        <li class="meal-attribute">
                            <span>Stardust Sparkles</span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

</section>


