
@{
    ViewData["Title"] = "GetReviews";
}

<section class="section-reviews" id="reviews">
    <div class="reviews-container">
        <span class="subheading">Reviews</span>
        <h2 class="heading-secondary">Once you try it, you can't go back</h2>

        <div class="reviews">
            <figure>
                <img class="review-img" src="/assets/img/customers/Maryam2.png" />
                <blockquote class="review-text">
                    tu7fa bgdd.
                </blockquote>
                <p class="review-name">&mdash; Marym Nasr</p>
            </figure>

            <figure>
                <img class="review-img" src="/assets/img/customers/Ashraqat2.png" />
                <blockquote class="review-text">
                    teslm 2ed el 3'alyeen.
                </blockquote>
                <p class="review-name">&mdash; Ashrqat El-Bidwehy</p>
            </figure>

            <figure>
                <img class="review-img" src="/assets/img/customers/Sara2.png" />
                <blockquote class="review-text">
                    There isn't a day that I can pass by without a taste from this precious lovely brand.
                    I especially have a craving for your OM-Ali dessert.
                </blockquote>
                <p class="review-name">&mdash; Sara Hassan</p>
            </figure>

            <figure>
                <img class="review-img" src="/assets/img/customers/Sohaila2.png" />
                <blockquote class="review-text">
                    el akl gamel gedan.
                </blockquote>
                <p class="review-name">&mdash; Sohaila Abdallah</p>
            </figure>
        </div>
    </div>

    <div class="gallery">
        <figure class="gallery-item">
            <img src="/assets/img/gallery/bat.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/grape_leaves_2.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/7mam.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/ta3meya.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/FrenchFries.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/fol.jpg" />
        </figure>
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/basbosa.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/om_ali.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/konafa.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/bamya.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/mombar.jpg" />
        </figure>
        <figure class="gallery-item">
            <img src="/assets/img/gallery/koshary.jpg" />
        </figure>
    </div>
</section>

