
@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="section-hero">
        <div class="hero">
            <div>
                <h1 class="heading-primary">
                    A home-made meal delivered to your door.
                    ANY TIME, ANY DAY!
                </h1>
                <p class="hero-description">
                    Experience the warmth of home in every bite. Our dishes are crafted with care, delivering home-made goodness
                    right to your door.
                    Nourish yourself with the simplicity and flavors of a lovingly prepared meal, all at your fingertips.
                </p>
                <a href="/GetMenu" class="btn btn--full margin-right-sm">Menu</a>
                <a href="/GetReviews" class="btn btn--outline">Reviews</a>

            </div>
            <div>
                <picture>
                    <source srcset="/assets/img/hero_mimi.png" type="image/png" />
                    <img src="/assets/img/hero_mimi.png" class="hero-img" />
                </picture>
            </div>
        </div>
    </section>

</main>