
@{
    ViewData["Title"] = "ShowOurStory";
}

<section class="section-story">
    <div class="story">
        <div>
            <h1 class="heading-primary">Our Story</h1>
            <p class="story-description">
                In the middle of our busy work schedules, we found ourselves stuck in the routine of fast food
                consumption.
                We wanted
                the comforting taste and nourishment of homemade meals. It was during one such moment of desire,
                that the spark of an idea ignited.
            </p>
            <br>
            <br>
            <br>
            <p class="story-description">
                Two ambitious friends with a shared passion for wholesome, homemade cuisine, we started a journey to
                revolutionize the food delivery landscape. Our vision was simple yet profound: to bridge the gap
                between the
                convenience of fast food and the authenticity of homemade dishes.
            </p>
            <br>
            <br>
            <br>
            <p class="story-description">
                In 2024, fueled by our desire to bring joy and nourishment to others, we founded Sunrise Today, our
                homemade
                food delivery service. Driven by our own experiences and a commitment to quality, we set out to
                connect
                talented chefs with thoughtful customers, all while using our own delivery team to ensure freshness
                and
                reliability.
            </p>
            <br>
            <br>
            <br>
            <p class="story-description">
                From that humble beginning, our service has grown into a source of culinary delight, offering a
                diverse
                array of homemade dishes crafted with love and care. As we continue to grow, we remain dedicated to
                delivering not just meals but experiences that nourish the body and soul.
            </p>
            <br>
            <br>
            <br>
            <p class="story-description">
                Join us on our journey as we redefine the way the world enjoys homemade goodness, one delicious bite
                at a
                time.
            </p>
        </div>
        <div>

            <img src="/assets/img/Our_history.png" class="story-img" />

        </div>
    </div>
</section>

