
@{
    ViewData["Title"] = "ShowHowItWorks";
}

<div class="container">
    <br>
    <br>
    <br>
    <span class="subheading">How it works</span>
    <h2 class="heading-secondary">
        Your daily dose of Joy in 4 simple steps
    </h2>
</div>

<div class="container">
    <div>
        <p class="step-number">01</p>
        <h3 class="heading-tertiary">
            Tell Us What You Like!
        </h3>
        <p class="step-description">
            Sunrise Today's Advanced AI will create personalized recommendations
            for you based on your Likes, dislikes, order history, past reviews, etc...
            It also makes sure you get all the nutrients and vitamins you need.
        </p>
    </div>

    <div>
        <p class="step-number">02</p>
        <h3 class="heading-tertiary">Tell Us Your Dietary Needs and/or Allergies</h3>
        <p class="step-description">
            We take pride in accommodating diverse dietary needs and preferences.
            Our menu is thoughtfully curated to cater to various tastes, including vegan, gluten-free, and other
            dietary
            requirements.
            We understand the importance of providing a safe and enjoyable dining experience for everyone.
        </p>
    </div>

    <div>
        <p class="step-number">03</p>
        <h3 class="heading-tertiary">Explore our Specially Crafted Menu Designed Just for You!</h3>
        <p class="step-description">
            Discover our AI-curated menu, thoughtfully designed with your allergies and dietary preferences in mind.
            Take a moment to explore and select your preferred meals, and you even have the option to choose your
            favorite chefs.
            Your personalized experience awaits – explore and enjoy!
        </p>
    </div>
    <div>
        <p class="step-number">04</p>
        <h3 class="heading-tertiary">Tailored Delivery Options for Your Nutritious Journey</h3>
        <p class="step-description">
            Once you've selected your meal, you have the flexibility to either enjoy immediate delivery or schedule
            it
            at your convenience.
            Choose from daily or weekly scheduled deliveries to suit your lifestyle.
            Our advanced SUNRISE TODAY AI allows you to book your meal times, and based on your preferences, we'll
            handpick a delightful meal just for you.
        </p>
    </div>

</div>