
@{
    ViewData["Title"] = "WlcomeHome";
}

<div class="welcome-container">
    <img src="/assets/img/welcome3.png" class="background-image">
    <a href="/index" class="enter-button">Let's Go!</a>
</div>

